<h1>
  Add a new option
</h1>


<hr>

<form action="/create_option" method="post">

  <div class="form-group">
    <label for="fof_id">
      Fof
    </label>
    
    <%= select_tag("fof_id", options_from_collection_for_select(current_user.fofs, :id, :name, @option.try(:fof_id)), :class => "form-control") %>
    or <a href="/fofs/new">add a new fof</a> first 
    
  </div>

  <div class="form-group">
    <label for="fund_id">
      Fund
    </label>
    <%= select_tag("fund_id", options_from_collection_for_select(Fund.all, :id, :name, @option.try(:fund_id)), :class => "form-control") %>
    or <a href="/funds/new">add a new fund</a> first 
    
  </div>

  <div class="form-group">
    <label for="amount">
      Amount
    </label>

    <input type="text" id="amount" name="amount" class="form-control">
  </div>

  <div class="form-group">
    <label for="timing">
      Timing
    </label>
    <input type="text" id="timing" name="timing" class="form-control">
  </div>

<!-- Label and input for fof user_id -->
  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create option
  </button>
</form>

<hr>

<a href="/options">
  Go back
</a>



