<h1>
  Add a new option
</h1>


<hr>

<form action="/create_option" method="post">

  <div class="form-group">
    <label for="fof_id">
      Fof
    </label>

    <input type="text" id="fof_id" name="fof_id" class="form-control">
  </div>

  <div class="form-group">
    <label for="fund_id">
      Fund
    </label>

    <input type="text" id="fund_id" name="fund_id" class="form-control">
  </div>

  <div class="form-group">
    <label for="amount">
      Amount
    </label>

    <input type="text" id="amount" name="amount" class="form-control">
  </div>

  <div class="form-group">
    <label for="timing">
      Timing
    </label>

    <input type="text" id="timing" name="timing" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create option
  </button>
</form>

<hr>

<a href="/options">
  Go back
</a>
