<h1>
  Add a new fof
</h1>


<hr>

<form action="/create_fof" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control">
  </div>

  <div class="form-group">
    <label for="scale">
      Scale
    </label>

    <input type="text" id="scale" name="scale" class="form-control">
  </div>

  <div class="form-group">
    <label for="expiration">
      Expiration
    </label>

    <input type="text" id="expiration" name="expiration" class="form-control">
  </div>

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create fof
  </button>
</form>

<hr>

<a href="/fofs">
  Go back
</a>
