<h1>
  Add a new investment
</h1>


<hr>

<form action="/create_investment" method="post">

  <div class="form-group">
    <label for="fund_id">
      Fund
    </label>

    <%= select_tag("fund_id", options_from_collection_for_select(Fund.all, :id, :name, @investment.try(:fund_id)), :class => "form-control") %>
    or <a href="/funds/new">add a new fund</a> first    
  </div>

  <div class="form-group">
    <label for="project_id">
      Project
    </label>

    <%= select_tag("project_id", options_from_collection_for_select(Project.all, :id, :name, @investment.try(:project_id)), :class => "form-control") %>
    or <a href="/projects/new">add a new project</a> first  
  </div>

  <div class="form-group">
    <label for="amount">
      Amount
    </label>

    <input type="text" id="amount" name="amount" class="form-control">
  </div>

  <div class="form-group">
    <label for="round">
      Round
    </label>

    <input type="text" id="round" name="round" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create investment
  </button>
</form>

<hr>

<a href="/investments">
  Go back
</a>
